body .ui-tabmenu .ui-tabmenu-nav {
    overflow-x: hidden;
}

h1 {
    font-size: 25px;
    color: #48d;
}

h2 {
    font-size: 21px;
    color: #6af;
}

h2 {
    font-size: 18px;
}

.mainTitleBar > .ui-panel-titlebar {
    background: #e0f0ff !important;
}

.validationMessage {
    font-size: 12px !important;
    margin-top: 2px !important;
    padding: 4px !important;
}